<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/base.css">
</head>

<body>
    <!-- <img src="/static/1.png" alt="">    -->
    <h2>这是新闻页面</h2>
    <br>
    <br>
    <ul>
        <%for(let i=0;i<newsList.length;i++){%>
        <li>
            <%=newsList[i].title%>
        </li>
        <%}%>
    </ul>
</body>
</html>