<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/base.css">
</head>
<body>
    <img src="/static/1.png" alt="">
    <form action="/user/doAdd" method="POST">
        <input type="text" name="username" placeholder="请输入用户名"> <br><br>
        <input type="text" name="age" placeholder="请输入年龄"> <br><br>
        <input type="submit" value="提交">
    </form>
</body>
</html>